<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bbhlcandystore">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/BBHLCandyStore"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BBHLCandystore">
        <activity
            android:name=".StartupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClientLoginActivity"
            android:exported="true" />
        <activity
            android:name=".UpdateActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddCandyActivity"
            android:exported="true"
            android:label="Thêm kẹo vào dữ liệu"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".registeractivity"
            android:exported="true" />
        <activity
            android:name=".listofcandies"
            android:exported="true" />
        <activity
            android:name=".loginActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Cửa hàng kẹo" />
    </application>

</manifest>